body {
  background-image: url('../images/Download (1).png');
  font:1rem Roboto-Regular,Helvetica,Arial,sans-serif;
}

.container div {
  margin-top: 15px;
}

.tabs {
  width: 70%;
  margin-left:auto;
  margin-right:auto;
}

.searchbox {
 
}

#search {
  

}

#url {
  font-size: 1.5rem;
  text-align: center;
}

.brand-logo {
  margin-left: 25px;
}

.hide-load {
  opacity: 0;
}